{% extends 'base.html '%}
{% block content %}

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">welcome {{username}}</a>
  <a class="nav-item" style="color: black;text-decoration: none" href="/user/welcomeuser/">Home</a>
  <form class="form-inline" method="post" action="/userlogout/">
    {% csrf_token %}
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
  </form>
</nav>

<h1 style="text-align:center">My Orders</h1>
{% for order in orders%}
<div style="margin:40px" class="alert alert-warning" role="alert">

  <p>{{order.username}}</p>
  <p>{{order.phone}}</p>
  <p>{{order.address}}</p>
  <p>{{order.ordereditems}}</p>
  <p>Order Status: {{order.orders_status}}</p>

</div>
{% endfor %}
{% endblock %}
